body{
    margin: 0;

}

#header{
    background-color: #a3aad6;
    height:200px;
    color: rgb(252, 248, 248); 
    font-size:64px;
    margin:0;
    padding:25px 0 15px 0;
}

header > h3{
    font-size:36px;
    margin:0;
    padding:25px 0 15px 0;
    color:darkblue;
}

.menu{
    background-color: rgb(165, 78, 78);
    padding:10px 0 15px 0;
    margin: 0 0 1% 0;
    font-size: 30px;
}   


.wrapper{
    width: 1300px;
    margin: 0 auto;

}


.box_1{
    float: left;
  background-color: rgb(209, 200, 200);
  width: 68%;
  margin: 1% 1% 0 0;

}

aside{
    float: left;
    background-color: rgb(165, 78, 78);
    width: 30%;
    margin: 1% 0 1% 1%;
    text-align:left;
    color:white;

}


.clear{
    clear:both
}


.box_2{
    float:left;
    background-color: rgb(209,200,200);
    width: 29%;
    margin: 1% 1.5% 1% 0%;
    height: 300px;
}

.box_3{
    float:left;
    background-color:rgb(209,200,200);
    width: 36%;
    margin: 1% 1.5% 1% 1.5%;

}

.box_4{
    float:left;
    background-color:rgb(209,200,200);
    width: 29%;
    margin: 1% 0% 1% 1.5%;
    height: 300px;
}  

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 22spx;
 }

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
 }

.boite_1{
    float: left;
  background-color:rgb(209,200,200);
  width: 68%;
  margin: 1% 1% 0 0;

}

